* {
  box-sizing: border-box;
  line-height: 1.4;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 4rem 2rem;

    font-size: 18px;
    font-family: Arial;
    color: var(--text-color);
    background-color: var(--background-color);
}

header {
    text-align: center;
}

footer {
    text-align: center;
}
