ul.projects{
    padding: 0px;
}

.project-card {
    display: flex;
    align-items: center;
}

.project-card img {
    max-height: 100%;
    scale: 75%;
    float: left;
}

.project-text{
    padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
	flex: 1 0 50%;
}