ul.projects{
    padding: 0px;
    list-style: none;
}

.project-card {
    display: flex;
    align-items: center;
}

.project-card img.project-image{
    image-rendering: auto;
    display: inline;
    width: 150px;
    align-self: center;
    aspect-ratio: 1/1 auto;
    float: left;
}

.project-text{
    display: inline;
    padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
	flex: 1 0 50%;
}